
h1 {
	color: #44CCAC;
	font-size: 26px;
}

h2 {
        color: #6060DD;
	font-size: 21px;
}

p {
        font-size: 16px;
        font-weight: 600;
}

body {
	background-color: #fffcf0;
	margin: 40px;
	line-height: 1.5;
}

